body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: center;
}

.weather-main h2 {
  font-size: 24px;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.info-box {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  width: 100px;
}

.info-box i {
  font-size: 30px;
  margin-bottom: 5px;
}
